///* ======================================================================
//                             Links
//   ====================================================================== */

a {
    color: darken($global-color-text, 20%);
    text-decoration: none;
    font-weight: 500;
}