// Color Palette
$global-color-primary: $global-color-torch-red;
$global-color-secondary: $global-color-granite-green;
$global-color-accent: $global-color-concrete;
$global-color-background: white;
$global-color-text: $global-color-thunder;
$global-color-border: $global-color-tundora;
